<h1>Lista de Postagens:</h1>
<hr>
<a href="/admin/postagens/adicionar"><button class="btn btn-success">Adicionar Postagem</button></a>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p>Descrição: {{descricao}}</p>
            <small>Data: {{data}}</small>
            <br>
            <small>Categoria: {{categoria.nome}}</small>
            <br>
            <div class="buttons mt-2">
            <a href="/admin/postagens/editar/{{_id}}"><button class="btn btn-success">Editar Postagem</button></a>
            <a href="/admin/postagens/deletar/{{_id}}"><button class="btn btn-danger">Deletar Postagem</button></a>
            </div>
        </div>
    </div>
{{else}}
    <p>Nenhuma Postagem Registrada!</p>
{{/each}}