<div class="container my-5 bg-light">
    <div class="p-5 mb-4 rounded-3" style="background-color: #80acac; color: black;">
      <div class="container py-5">
        <h1 class="display-5 fw-bold">Bem-vindo ao Blog</h1>
        <p class="col-md-8 fs-4">Esse blog é desenvolvido com Node.js, utilizando suas principais bibliotecas, como Express para a criação de APIs robustas e MongoDB como banco de dados, garantindo escalabilidade, alta performance e flexibilidade no gerenciamento de dados.</p>
        <hr class="my-4">
        <p>Neste blog, você poderá acompanhar as últimas novidades e tendências do mundo da programação, explorando conteúdos atualizados e relevantes para aprimorar seus conhecimentos na área.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
      </div>
    </div>
  </div>

<h2>Postagens recentes:</h2>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small>Categoria: {{categoria.nome}}</small>
        <br>
        <small>Data de publicação: {{data}}</small>
    </div>
</div>
{{else}}
    <h5>Nenhuma Postagem</h5>
{{/each}}